.navBar {
    width: 100%;
    background: linear-gradient(300deg, #2C3531, #116466, #D9B08C, #FFCB9A, #D1E8E2);
    top: 0;
    transition: all 1s ease;
    display: flex;
    justify-content: space-between;
}

h1{
    color:black;
}

.navLinks {
    display: flex;
    font-size: 25px;
    margin-right: 25px;
    padding: 10px;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: whitesmoke;
}

a:hover {
    text-decoration: underline;
}




