.navBar {
    width: 100%;
    background: rgb(27, 27, 27);
    top: 0;
    transition: all 1s ease;
    display: flex;
    justify-content: space-between;
}

h1{
    color:black;
}

.navLinks {
    display: flex;
    font-size: 25px;
    margin-right: 25px;
    padding: 10px;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #66FCF1;
}

a:hover {
    text-decoration: underline;
}




