.navBar {
    width: 100%;
    height: 50px;
    background: linear-gradient(300deg, #997c99, #a507a5, #993f99);
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

h1 {
    size: 35px;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 30px;
    float: left;
}


.navLinks {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 30px;
    justify-content: space-between;
    color: aliceblue;
}