/* #66FCF1 */
.container {
    color: #66FCF1;
    margin: auto;
}

.profilePic {
    float: left;
    margin: auto;
    border-radius: 25px;
    border-width: 15px;
    max-width: 250px;
    padding: 20px;
    border-style: solid double solid;
    border: #45A29E, #66FCF1;
}

.myProfile {
    background-color: rgb(36, 35, 35);
    margin: auto;
    padding: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px;
}

.profileHeader {
    color: #66FCF1;
    padding: 4px;
}

.profileBio {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #45A29E;
}

.profileLocation {
    display: inline-block;
    color: #C5c6C7;
    font-size: 15px;
    margin-left: auto;
    margin-right: .5rem;
}

.icon{
    font-size: 20px;
    margin-right: .25rem;
    margin-top: 1rem;
}

